.about-section1-container {
  /* background-color: rgba(223, 223, 223, 1); */
  /* border: solid 1px blue; */
  min-height: 100vh;
  padding: 95px 55px 45px;
  position: relative;
}

.about-sec1-bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* background-image: url("/images/home4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; */
  /* background-color: rgb(205, 205, 205); */
  background-color: rgba(192, 192, 192, 0.9);
  /* filter: blur(5px); */
  filter: brightness(60%);
  z-index: -1;
}

.about-sec1-header {
  text-align: center;
  margin-bottom: 45px;
}

.about-sec1-header h2 {
  color: #ffffff;
  margin-top: 15px;
}

.about-sec1-content p {
  color: rgb(206, 206, 206);
  font-size: 17px;
  margin-bottom: 15px;
}

.about-section2-container {
  /* border: solid 1px greenyellow; */
  min-height: 100vh;
  position: relative;
  padding: 75px 55px 105px;
  /* background-color: rgba(128, 128, 128, 0.6); */
  background-color: rgba(128, 128, 128, 0.5);
}

.about-sec2-content {
  display: flex;
  justify-content: space-evenly;
  margin-top: 55px;
  flex-wrap: wrap;
}

.about-profile-container {
  /* border: solid 1px yellow; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 45px;
}

.about-profile-container .imageWrapper {
  /* border: solid 1px red; */
  width: 310px;
  height: 360px;
  border-radius: 20px;
  overflow: hidden;
}

.about-profile-container .imageWrapper:hover img {
  scale: 1.05;
}

.about-profile-container .imageWrapper img {
  transition: all 0.3s ease;
}

.about-profile-content {
  background-color: rgb(192, 192, 192);
  position: absolute;
  bottom: 15px;
  padding: 10px 25px;
  border-radius: 20px;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-link-logo {
  /* border: solid 1px blue; */
  font-size: 24px;
  padding: 8px;
  border-radius: 50%;
  background-color: #ff8b38;
}

.profile-link-logo a {
  color: black !important;
}

.about-profile-content h5 {
  /* font-family: "Times New Roman", Times, serif; */
  color: #ffffff;
}

/* tablet devices */
@media screen and (min-width: 640px) and (max-width: 1050px) {
  .about-section1-container,
  .about-section2-container {
    /* min-height: 75vh; */
    min-height: auto;
  }

  .about-section1-container {
    padding-bottom: 114px;
  }

  .about-profile-container .imageWrapper {
    width: 310px;
  }
}
