/* .header-fixed-container {
  border: solid 1px red;
} */

.header-container {
  /* border: solid 1px brown; */
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  /* border: solid 1px red; */
  margin-right: 5px;
  /* width: 70px;
  height: 70px; */
  width: 250px;
  height: 16px;
  /* margin-left: 7%; */
  margin-left: 4%;
}

.header-logo {
  transition: opacity 0.3s ease;
}

/* Hide header when scrolling down */
@supports (animation-timeline: scroll()) {
  @keyframes hideOnScroll {
    0% {
      display: block;
    }
    100% {
      display: none;
    }
  }

  .header-logo {
    animation: hideOnScroll linear forwards;
    animation-timeline: scroll(root);
    animation-range: entry 0% exit 10%;
  }
}

.header-main {
  /* border: solid 1px blue; */
  padding: 12px 30px;
  border-radius: 20px;
  background-color: rgba(107, 107, 107, 0.35);
}

.header-main-item {
  padding-right: 22px;
  color: #ffffff;
}

.header-main-item:last-child {
  padding-right: 0;
}

.header-main-item:hover {
  color: #ff8b38;
  cursor: pointer;
}

.header-started {
  /* border: solid 1px rgb(240, 255, 28); */
  /* border: solid 2px #ff8b38; */
  margin-right: 4%;
  padding: 10px 18px;
  border-radius: 20px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
  font-weight: 600;
  transition: all 0.3s ease;
}

.header-started:hover {
  background-color: transparent;
}

.header-started a {
  /* color: #000000 !important; */

  color: #ffffff !important;
  transition: color 0.3s ease !important;
}

.header-started::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ff8b38;
  left: 0;
  top: 100%;
  transition: all 0.3s ease;
  z-index: -1;
}

.header-started:hover::before {
  top: 0;
}

.header-started:hover a {
  color: #ffffff !important;
  text-decoration: none !important;
}

.header-menu-container {
  position: relative;
  display: inline-block;
}

.header-sub-menu {
  display: block;
  opacity: 0;
  transform: scale(0.9);
  position: absolute;
  /* background-color: #f1f1f1; */
  background-color: rgba(0, 0, 0, 0.6);
  min-width: 220px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: -1;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;

  list-style: none;
  padding: 0;
  margin: 0;
  /* border: solid 1px red; */
  padding-top: 10px;
  border-top-style: solid;
  border-top-width: 4px;
  border-top-color: #ff8b38;
  top: -100px;
}

.header-menu-container:hover .header-sub-menu {
  opacity: 1;
  transform: scale(1);
  top: 20px;
  z-index: 1;
}

.header-sub-menu li {
  position: relative;
  display: inline-block;
  margin: 10px 20px;
  padding-bottom: 5px;
  /* font-size: 16px; */
  /* cursor: pointer; */
  /* border: solid 1px blue; */
}

.header-sub-menu a {
  text-decoration: none;
  /* color: #333; */
  color: #ffffff;
  transition: color 0.3s ease-in-out;
}

.header-sub-menu li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 3px;
  background-color: #ff9800;
  transition: width 0.3s ease-in-out;
}

.header-sub-menu li:hover::after {
  width: 100%;
}

.header-sub-menu li:hover a {
  color: #ff9800;
}

/* Mobile Header */

/* .m-header-container {
  border: solid 1px red;
  padding: 10px;
} */

.m-header {
  /* border: solid 1px blue; */
  /* min-height: 8vh; */
  background-color: rgba(0, 0, 0, 0.2);
  padding: 18px 10px;
}

.m-h-logo-container {
  /* border: solid 1px yellow; */
  display: flex;
  justify-content: center;
}

.m-h-logo {
  display: inline-block;
  width: 75%;
  height: 18px;
}

.m-header-section2-container {
  /* border: solid 1px blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4%;
  margin-top: 20px;
}

/* .m-header-started {
  border: solid 1px red;
} */

.m-started-text {
  color: #ffffff;
  /* border: solid 1px black; */
  background-color: #ff8b38;
  display: inline-block;
  padding: 12px 18px;
  border-radius: 12px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.m-started-text:hover {
  background-color: #ffffff;
  color: #ff8b38;
}

.m-header-drawer-container {
  border: solid 1px red;
  width: 100dvw !important;
}

.m-header-drawer-container .rs-drawer-body {
  padding: 0;
}

.m-header-drawer-container .rs-drawer-header {
  background-color: #333;
}

.m-header-drawer-container .rs-drawer-header-close {
  /* border: solid 1px red; */
  background-color: #ff8b38;
  color: #ffffff;
}

.vertical_menu {
  width: 250px;
  background-color: #333;
  color: white;
  padding: 15px;
  position: fixed;
  /* height: 100vh; */
  height: 100%;
  width: 100%;
}

.vertical_menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.vertical_menu ul li {
  padding: 10px;
  border-bottom-style: solid;
  border-bottom-color: #878787;
  border-bottom-width: 2px;
}

.vertical_menu ul li:last-child {
  border: none;
}

.vertical_menu ul li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  font-size: 20px;
  transition: 0.3s;
}

.vertical_menu ul li a:hover {
  background-color: #575757;
}

.menu-item-has-children {
  position: relative;
}

.menu-item-has-children .sub-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  list-style: none;
  padding-left: 15px;
}

.menu-item-has-children .sub-menu.open {
  max-height: 500px;
}

.mobile-arrows {
  /* border: solid 1px red; */
  height: 40px;
  position: absolute;
  right: 5%;
  /* right: 10px; */
  top: 10px;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* tablet devices */
@media screen and (min-width: 640px) and (max-width: 940px) {
  .m-h-logo {
    width: 60%;
    height: 20px;
  }
}
