.home-section-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  min-height: 100vh;
}

.home-section {
  scroll-snap-align: start;
  min-height: 88vh;
}

.home-section-1 {
  width: 100%;
  height: 100vh;
  /* border: solid 1px red; */

  position: relative;
}

.home-section1-bg-img {
  /* border: solid 1px red; */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* background-image: url("/images/wind-1.jpg");
  background-size: cover;  */
  /* Cover the entire element */
  /* background-attachment: fixed; */
  /* Fix the background while scrolling */
  /* background-position: center;  */
  /* Center the image */
  /* background-repeat: no-repeat;  */
  /* Prevent repeating */
  filter: brightness(70%);
  overflow: hidden;
  z-index: -1;
}

/* .home-section1-bg-img video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
} */

.home-sec1-bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  object-fit: cover;
  /* Ensures video fills height and crops sides */
}

.home-section1-bg-img::before {
  content: "";
  /* border: solid 1px blue; */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* background-image: linear-gradient(
    to bottom,
    rgba(182, 182, 182, 0.1) 40%,
    rgba(0, 0, 0, 0.8) 100%
  ); */
  /* background-color: rgba(0, 0, 0, 0.4); */
  /* background-image: radial-gradient(
    rgba(182, 182, 182, 0.1) 15%,
    rgba(0, 0, 0, 0.3) 35%,
    rgba(0, 0, 0, 0.5) 70%
  ); */
}

.home-section1-content {
  /* border: solid 1px blue; */
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.home-section-1 h2 {
  margin-top: 190px;
  margin-bottom: 20px;
  font-size: 68px;
  color: #ff8b38;
  text-align: center;
}

.home-section-1 h3 {
  font-size: 35px;
  color: #ffffff;
  margin-bottom: 15px;
  text-align: center;
}

.home-section-1 p {
  font-size: 18px;
  color: #ffffff;
  /* color: #e9e9e9; */
  padding: 10px 125px;
  text-align: center;
}

.section1-discover {
  border: solid 1px #ff8b38;
  /* margin-top: 50px; */
  margin-top: 40px;
  margin-bottom: 25px;
  /* color: #cacaca; */
  color: #ffffff;
  font-weight: 600;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 16px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  transition: color 0.3s ease;
  z-index: 0;
}

.section1-discover::before {
  content: "";
  background-color: #ff8b38;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  transition: all 0.3s ease;
  z-index: -1;
}

.section1-discover:hover::before {
  left: 0;
}

.section1-discover:hover {
  /* color: #ffffff; */
  color: black;
}

.home-section-2 {
  /* border: solid 1px yellowgreen; */
  min-height: 100vh;
  align-items: center;
  text-align: center;
  padding-bottom: 30px;
}

.section2-content h4 {
  margin-top: 80px;
  margin-bottom: 20px;
}

.section2-content h2 {
  margin-bottom: 40px;
}

.section2-accordion p {
  font-size: 20px;
  padding-left: 20px;
  /* padding-top: 10px;
  padding-bottom: 10px; */
}

.sec2-panel-header {
  transition: all 0.3s ease;
}

.section2-acc-panel .rs-panel-btn:hover {
  background-color: transparent;
}

.section2-acc-panel:hover .sec2-panel-header {
  padding-left: 60px;
  color: #ff8b38;
}

.section-accor-con {
  /* background-color: #dcdcdc; */
  background-color: #f1f1f1;
  margin: 0 25px;
}

.sec2-content-cont {
  /* border: solid 1px red; */
  padding: 15px 5px;
  flex-wrap: wrap;
}

.sec2-panel-content {
  border: solid 1px #ffffff;
  /* background-color: #ffffff; */
  /* background-color: rgba(0, 0, 0, 0.7); */
  margin: 10px 50px;
  border-radius: 20px;
  padding: 10px 25px;
}

.sec2-panel-content h3 {
  font-size: 32px;
  margin-top: 26px;
  margin-bottom: 25px;
  font-family: "Ppmori", sans-serif;
}

.sec2-panel-content p {
  color: #959595;
}

.sec2-panel-content a {
  font-size: 18px;
  color: #ffaa6d;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

.sec2-panel-content a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #ff8b38;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease;
}

.sec2-panel-content a:hover {
  color: #ff8b38;
  text-decoration: none;
}

.sec2-panel-content a:hover::before {
  width: 100%;
}

.sec2-home-img-cont {
  /* border: solid 1px black; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px 0;
}

.sec2-content-cont .imageWrapper {
  /* border: solid 1px red; */
  min-width: 200px;
  width: 320px;
}

/* section 3 */
.home-section3 {
  width: 100%;
  min-height: 100vh;
  /* border: solid 1px red; */
  position: relative;

  color: #ffffff;
  justify-content: center;
  align-items: center;
}

.home-section3-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* border: solid 1px red; */
  background-image: url("/images/home-section3.jpeg");
  background-size: cover; /* Cover the entire element */
  background-attachment: fixed; /* Fix the background while scrolling */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent repeating */
  background-blend-mode: multiply !important;

  filter: brightness(70%);
}

.sec3-img {
  height: 200px;
  width: 200px;
}

.sec3-content {
  padding: 10px 28px;
}

.sec3-content h2 {
  font-size: 38px;
  margin-bottom: 15px;
}

.sec3-content h3 {
  margin-bottom: 20px;
  font-size: 32px;
}

.sec3-content p {
  font-size: 16px;
}

.home-section4 {
  /* border: solid 4px yellowgreen; */
  padding-top: 125px;
  padding-left: 35px;
  padding-right: 35px;
  /* background-color: rgba(234, 234, 234, 0.5); */
}

.sec4-content1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 95px;
}

.sec4-content1:last-child {
  margin-bottom: 55px;
}

.sec4-recycling-content {
  /* border: solid 1px red; */
  /* height: 450px; */
  padding: 25px 25px;
}

.sec4-recycling-image {
  /* border: solid 1px blue; */
  position: relative;
  padding: 25px;
}

/* .sec4-recycling-image .imageWrapper {
  height: 450px;
} */

.sec4-recycling-content h4 {
  margin-bottom: 15px;
}

.sec4-recycling-content h2 {
  margin-bottom: 20px;
}

.sec4-recycling-content p {
  font-size: 18px;
  color: #959595;
}

.recycling-img1 {
  height: 360px;
  width: 320px;
  border-radius: 16px;
  overflow: hidden;
}

.recycling-img2 {
  position: absolute;
  height: 160px;
  width: 225px;
  /* bottom: -15px;
  right: 10px; */
  bottom: -25px;
  right: 22%;
  border: solid 5px #ffffff;
  border-radius: 16px;
  overflow: hidden;
}

.recycling-img3 {
  position: absolute;
  width: 80px;
  /* top: 70px;
  right: 8px; */
  top: 70px;
  right: 26%;
}

.sec4-recycling-video {
  border: solid 2px;
  border-radius: 16px;
  padding: 15px 15px;
  margin: 0 15px;
  transition: all 0.5s ease;
  animation: borderColorFill 3s infinite linear;
}

@keyframes borderColorFill {
  0% {
    border-color: #ff8b38ed;
  }
  50% {
    border-color: #ffd8bc;
  }
  100% {
    border-color: #ff8b38;
  }
}

.sec4-recycling-video video {
  border-radius: 16px;
  overflow: hidden;
}

.home-section5 {
  /* border: solid 1px red; */
  min-height: 100vh;
  padding-bottom: 70px;
}
.sec5-content h4 {
  margin-top: 50px;
  margin-bottom: 20px;
}

.home-section6 {
  padding-top: 50px;
  min-height: 100vh;
}

.sec6-logo-container {
  /* border: solid 1px red; */
  margin-top: 80px;
  width: 60%;
}

.sec6-logo-container img {
  width: 350px;
}

.home-section7 {
  /* border: solid 1px red; */
  min-height: 100vh;
  padding-bottom: 70px;
}

.blog-container {
  margin-top: 40px;
}

.home-section8 {
  /* border: solid 1px red; */
  min-height: 100vh;
  padding-top: 85px;
  padding-bottom: 70px;
  position: relative;
  padding-left: 25%;
  padding-right: 25%;
}

.sec8-bg-img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  /* background-image: url("/images/contact-bg2.jpg");
  background-size: cover;  */
  /* Cover the entire element */
  /* background-attachment: fixed;  */
  /* Fix the background while scrolling */
  /* background-position: center;  */
  /* Center the image */
  /* background-repeat: no-repeat;  */
  /* Prevent repeating */

  /* filter: brightness(40%); */

  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

/* Mobile Device */

@media screen and (max-width: 640px) {
  .home-section-1 h2 {
    font-size: 58px;
    line-height: 1.1;
  }

  .section1-discover {
    background-color: #ff8b38;
  }

  .home-section-1 p {
    padding: 10px 45px;
  }

  .sec2-content-cont .imageWrapper {
    width: 250px;
  }

  .sec2-panel-content {
    margin: 10px 0;
    padding: 10px 12px;
  }

  .section2-accordion p {
    padding-left: 0;
  }

  .home-section3 {
    flex-wrap: wrap;
    min-height: 80vh;
  }

  .home-section3-image {
    /* border: solid 1px red; */
    margin-top: -100px;
  }

  .sec3-img {
    width: 300px;
    height: 250px;
  }

  .sec4-content1 {
    flex-wrap: wrap;
  }

  /* home section 4 images */
  .sec4-recycling-image {
    padding: 0;
  }

  .recycling-img1 {
    height: 340px;
    width: 260px;
  }

  .recycling-img2 {
    right: -10px;
    bottom: -45px;
  }

  .recycling-img3 {
    /* border: solid 1px red; */
    width: 60px;
    right: -5px;
  }

  .sec4-pv-container {
    margin-top: 75px;
  }

  .sec4-recycling-video {
    margin: 0;
    margin-top: 25px;
  }

  .home-section5 {
    min-height: 80vh;
  }

  .blog-container {
    padding: 0 15px;
  }

  .home-section8 {
    padding: 75px 7%;
  }
}

/* tablet devices */
@media screen and (min-width: 640px) and (max-width: 940px) {
  .home-section-2,
  .home-section5,
  .home-section6,
  .home-section7 {
    min-height: auto;
    padding-bottom: 115px;
  }

  .home-section8 {
    min-height: auto;
  }

  .recycling-img1 {
    height: 320px;
    width: 260px;
  }

  .recycling-img2 {
    right: 2%;
  }

  .recycling-img3 {
    right: 2%;
    top: 50px;
  }
}

/* ipad pro */
@media screen and (min-width: 940px) and (max-width: 1050px) {
  .home-section-2,
  .home-section5,
  .home-section6,
  .home-section7 {
    min-height: auto;
    padding-bottom: 115px;
  }

  .home-section8 {
    min-height: auto;
  }

  .recycling-img1 {
    height: 340px;
    width: 310px;
  }

  .recycling-img2 {
    right: 12%;
  }

  .recycling-img3 {
    right: 9%;
    top: 70px;
  }
}

/* ipad mini */
@media screen and (min-width: 640px) and (max-width: 790px) {
  .recycling-img3 {
    right: -6%;
  }
}
