.sr-section1-container {
  /* border: solid 1px red; */
  min-height: 100dvh;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
}

.sr-sec1-img-container {
  /* border: solid 1px blue; */
  /* height: 70vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112vh;
}

.sr-sec1-img-container .imageWrapper {
  width: 350px;
  height: 500px;
  position: relative;
}

.sr-sec1-img-container .imageWrapper::before {
  content: "";
  position: absolute;
  width: 108%;
  height: 105%;
  top: -12px;
  left: -15px;
  border: solid 2px #ff8b38;
}

.sr-sec1-content-container {
  /* border: solid 1px rgb(0, 255, 140); */
  padding: 45px 25px;
}

.sr-sec1-header {
  /* border: solid 1px greenyellow; */
  padding: 25px 0;
}

.sr-sec1-header h2 {
  margin-top: 10px;
}

.sr-sec1-content p {
  font-size: 16px;
  font-family: "Roboto Slab", "Times New Roman", Times, serif;
  padding: 7px 15px;
  color: #cacaca;
}

@media screen and (max-width: 640px) {
  .sr-sec1-img-container {
    height: auto;
    /* border: solid 1px red; */
    padding: 45px;
  }

  .sr-sec1-header {
    padding-left: 15px;
  }
}

/* tablet devices */
@media screen and (min-width: 640px) and (max-width: 940px) {
  .sr-sec1-img-container {
    height: 82vh;
  }
}

/* ipad pro */
@media screen and (min-width: 940px) and (max-width: 1050px) {
  .sr-sec1-img-container {
    height: 58vh;
  }

  .sr-section1-container {
    min-height: auto;
  }
}

/* ipad mini */
@media screen and (min-width: 640px) and (max-width: 790px) {
}
